/* Background Images */

body {
  background-image: url("A pond.jpg");
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #000000;
}

#reflect {
  background-image: url("BlarneyCastleWaterfall.jpg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #000000;
}


header {
  background-color: rgba(83, 108, 51, 0.18);
}

h1 {
  /*background-image: radial-gradient(#2a388b, #73778F)*/
  ;
  background-size: contain;
  background-position: 0 0;
  bacground-attachment: fixed;
  font-family: 'Dancing Script', cursive;
}


/* font size, color, style */

h1 {
  font-size: 60px;
  text-align: center;
  color: #546D33;
}


a:link {
  color: aliceblue;
}

a:visited {
  color: #547727;
}

a:hover {
  background-color: #73778F
}

a:active {
  background-color: #001f3f;
}

.buttons {
  border-color: #e7a071;
  border-style: outset;
  border-collapse: separate;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  justify-content: space-between;
}

nav {
  text-align: center;
  font-family: 'Satisfy', cursive;
  display: flex;
  text-align: center;
}

.titles {
  color: #001f3f;
}

.path.1 {
  color: #546D33;
}


/* Positioning */

.buttons {
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

#welcome {
  text-align: Center;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.books {
  text-alighn: left;
}

.Guild {
  text-align: center;
  text-decoration: underline #737787;
  color: #2A388B;
}

p {
  color: aliceblue;
  font-family: 'Norican', cursive;
}

h2 {
  color: #0D0E8A;
  text-align: Center;
}


/* .Christie {background-image: url("A Pond.jpg");background-position: left; background-size: cover;} */

h3 {
  color: #0D0E8A;
}

.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  background-color: #black;
  text-align: center;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 5%;
}

li {
  color: aliceblue;
  text-align: left;
}

.maps {
  height: 50%
}

#map {
  height: 200px;
  width: 25%;
}
#path2 {background-color: rgba(0, 0, 20, 0.47);

}
